<header class="l-header">
  <div class="l-header__inner">
    <a href="/" class="l-header__inner__logo">ポートフォリオサイト</a>
  </div>

  <nav id="pc-nav">
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/">制作実績</a></li>
      <li><a href="/">スキル</a></li>
      <li><a href="/">その他</a></li>
      <li><a href="/">問い合わせ</a></li>
    </ul>
  </nav>

  <div id="nav-toggle">
    <div>
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <nav id="sp-nav">
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/">制作実績</a></li>
      <li><a href="/">スキル</a></li>
      <li><a href="/">その他</a></li>
      <li><a href="/">問い合わせ</a></li>
    </ul>
  </nav>
  
</header>