#portfolio {
    padding-top: 105px;
    .content__text {
        margin: 0 5%;
        @include tab-layout {
            .img {
                width: 75%;
                height: auto;
                margin: 4rem auto 0;
            }
        }
        p, .twitter {
            margin-top: 2rem;
        }
    }
    .return {
        margin: 6rem 5% 0;
        a {
            @include font-size(24);
        }
    }
}