#portfolio {
    padding-top: 105px;
    p {
        margin: 2rem 0;
        @include tab-layout {
            margin: 2rem;
        }
    }
    .return {
        margin-top: 8rem;
        a {
            @include font-size(24);
        }
    }
}