#about {
    .content__text__items {
        p {
            margin-top: 2rem;
        }
        &--inner:nth-child(1) {
        width: 80%;
        max-width: 200px;
        margin: 2rem auto 0;
            img {
                border-radius: 50%;
                border: 5px solid $color-border;
            }
            @include tab-layout {
                max-width: 250px;
                margin: 0 auto;
            }
        }
        @include tab-layout {
            display: flex;
            flex-wrap: row nowrap;
            justify-content: center;
            align-items: flex-start;
            &--01 {
                min-width: 200px;
                margin-bottom: 2rem;
            }
            &--02{
                margin-top: -2rem;
            }
        }
        @include pc-layout {
            &--01 {
                flex-basis: 80%;
                margin: 0 2rem;
            }
        }
        &--items {
            margin-top: 4rem;
            img {
                border-radius: 25%;
            }
        }
    }
}

.point {
    text-align: center;
    @include font-size(12);
    span {
        line-height: 4rem;
        color: $color-accent3;
    }
}


#work, #skill, #other {
    .content__text {
        padding-top: 5rem;
    }
}

#work {
    .content__text__items {
        @include tab-layout {
            display: flex;
        }
        &--inner {
            margin: 4%;
            border: solid 1px $color-border;
            border-radius: 15px;
            text-align: center;
            .workItem {
                display: block;
                padding: 4%;
                img {
                    width: 100%;
                    height: 150px;
                    margin: 0 auto;
                    display: block;
                    object-fit: contain;
                    -webkit-transition: all 1s ease;
                    transition: all 1s ease;
                    -webkit-transform: scale(1,1) translateX(0px);
                    transform: scale(1,1) translateX(0px);
                    &:hover {
                        object-fit: cover;
                    }
                }
                &:hover {
                    border-radius: 15px;
                    background-color: $color-background;
                }
            }
        }
    }
}