<!DOCTYPE html>
<html lang="ja">
<head>

    <%- include('../_includes/_common.ejs') %>

    <title>学習記録ブログ&ensp;&gt;&ensp;伊藤宏恵のポートフォリオサイト</title>

</head>

<body>
    <%- include('../_includes/_header') %>

    <main class="l-content-wrap">

        <article id="portfolio">
            <h2 class="h2_title">学習記録ブログ「すきゆか」</h2>

            <div class="content__text">
                <p><img src="../asset/image/blog.png" alt=""></p>
                <p>
                    学習記録ブログ「すきゆか」<br>
                    <a href="https://blog.ykllog.com" target="_blank">https://blog.ykllog.com</a>
                </p>
                <p>
                    【使用言語】<br>
                    WordPress（自作テーマ）、HTML5/CSS3、SaSS（ScSS）、jQuery
                </p>
                <p>
                    【担当箇所】<br>
                    デザイン、コーディング（レスポンシブ対応含む）、デプロイ（レンタルサーバー）
                </p>
                <p>
                    【ターゲット】<br>
                    希望する会社の採用担当者・社員の方々
                </p>
                <p>
                    【コンセプト】<br>
                    「わたしのスキを詰め込んだサイト」
                </p>
                <p>
                    【作成期間】<br>
                    2021/01/18～2021/01/21　＋修正
                </p>
                <p>
                    【工夫した点、作品の見どころ】<br>
                    シンプルかつ大胆な余白がポイントのデザイン。<br>
                    色味は抑えつつ、アクセントカラーにピンクを使って女性らしいかわいらしさを表しました。<br>
                    縦のラインを強調させるべく、ワンカラムのデザインとしています。
                </p>
            </div>

            <div class="return">
                <a href="/"><i class="fas fa-angle-double-left"></i>&emsp;トップへ戻る</a>
            </div>
        </article>



    </main>
    
    <%- include('../_includes/_footer.ejs') %>
    
</body>
</html>