<!DOCTYPE html>
<html lang="ja">
    <head>

        <%- include('../_includes/_common.ejs') %>

        <title>ポートフォリオサイト&ensp;&gt;&ensp;伊藤宏恵のポートフォリオサイト</title>

    </head>
</html>

<body>
    <%- include('../_includes/_header') %>

    <main class="l-content-wrap">

        <article id="portfolio">
            <h2 class="h2_title">ポートフォリオサイト</h2>

            <div class="content__text">
                <p><img src="../asset/image/portfolio.png" alt=""></p>
                <p>
                    ポートフォリオサイト（当サイト）<br>
                    <a href="https://ykllog.netlify.app/">https://ykllog.netlify.app/</a><br>
                    <a href="https://github.com/ykllog/portfolio" target="_blank">https://github.com/ykllog/portfolio</a>
                </p>
                <p>
                    【使用言語】<br>
                    HTML5/CSS3、SaSS（ScSS）、jQuery
                </p>
                <p>
                    【担当箇所】<br>
                    デザイン、コーディング（レスポンシブ対応含む）、デプロイ（Netlfy）
                </p>
                <p>
                    【ターゲット】<br>
                    希望する会社の採用担当者・社員の方々
                </p>
                <p>
                    【コンセプト】<br>
                    「個性は忘れず、シンプルに訴える」
                </p>
                <p>
                    【作成期間】<br>
                    2021/02/07～2021/02/09
                </p>
                <p>
                    【工夫した点、作品の見どころ】<br>
                    シンプルなデザインながら、区切り線で遊びを表現しました。<br>
                    また、敢えてスマホファーストで記述を行うなど、どの端末から見ても動作が軽くなるよう心がけました。
                </p>
            </div>

            <div class="return">
                <a href="/"><i class="fas fa-angle-double-left"></i>&emsp;トップへ戻る</a>
            </div>
        </article>



    </main>
    
    <%- include('../_includes/_footer.ejs') %>
    
</body>
</html>