<!DOCTYPE html>
<html lang="ja">
<head>

    <%- include('../_includes/_common.ejs') %>

    <title>学習記録ブログ&ensp;&gt;&ensp;伊藤宏恵のポートフォリオサイト</title>

</head>

<body>
    <%- include('../_includes/_header') %>

    <main class="l-content-wrap">

        <article id="portfolio">
            <h2 class="h2_title">共同開発制作物</h2>

            <div class="content__text">
                <p class="img"><img src="../asset/image/r007.png" alt=""></p>
                <p>
                    共同開発制作物<br>
                    <a href="https://tenkue-r007.netlify.app/" target="_blank">https://tenkue-r007.netlify.app/</a><br>
                    <a href="https://github.com/ykllog/tenkue-r007" target="_blank">https://github.com/ykllog/tenkue-r007</a>
                </p>
                <h3 class="h3__title">使用言語</h3>
                <p>
                    HTML5/CSS3、SaSS（ScSS）、jQuery
                </p>
                <h3 class="h3__title">担当箇所</h3>
                <p>
                    ヘッダー（ハンバーガーメニューのみ）、フッター、ルーム、アクセス、デプロイ（Netlify）
                </p>
                <h3 class="h3__title">作成期間</h3>
                <p>
                    2020/11/01～2020/11/18
                </p>
                <h3 class="h3__title">工夫した点、作品の見どころ</h3>
                <p>
                    参加しているオンラインコミュニティで提供されている、Git/GitHubを共同で使用してみようという学習メニューに参加。<br>
                    Gitの使い方はもちろん、HTML/CSSの書き方の基本やGitについてZOOMで合計10時間以上他のメンバーに対して講義を行い、なんとなくで把握していたことをより自身のものにできました。
                </p>
                <h3 class="h3__title">その他</h3>
                <p>
                    共同開発中に嬉しいコメントをメンターのTakaさんからいただきました。<br>
                    Takaさんには、「ここまで仲良く共同開発ができるチームも少ない」とお褒めの言葉も賜り、非常に有益な学習となりました。
                </p>
                <div class="twitter">
                    <blockquote class="twitter-tweet"><p lang="ja" dir="ltr"><a href="https://twitter.com/hashtag/%E8%BB%A2%E3%82%AF%E3%82%A8?src=hash&amp;ref_src=twsrc%5Etfw">#転クエ</a> 共同開発にあたり、メンターのTakaさん <a href="https://twitter.com/takaIT3?ref_src=twsrc%5Etfw">@takaIT3</a> にコードレビューしてもらうのですが、<br><br>コード綺麗でした。さすがですねー！<br><br>とコメントいただいた。すっごく嬉しい♡<br>これまでずっと趣味で自分だけが見る前提のコードを書いてたため不安で。この一言にとても安心しました。</p>&mdash; 由佳＠転職活動中 (@ykllog) <a href="https://twitter.com/ykllog/status/1325836097776095234?ref_src=twsrc%5Etfw">November 9, 2020</a></blockquote>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
            </div>

            <div class="return">
                <a href="/"><i class="fas fa-angle-double-left"></i>&emsp;トップへ戻る</a>
            </div>
        </article>



    </main>
    
    <%- include('../_includes/_footer.ejs') %>
    
</body>
</html>