<!DOCTYPE html>
<html lang="ja">
<head>

    <%- include('./_includes/_common.ejs') %>

    <title>伊藤宏恵のポートフォリオサイト</title>

</head>

<body>
    <%- include('./_includes/_header') %>

    <div class="fv"></div>

    <main class="l-content-wrap">
        
        <section id="top">
            <div class="content__text">
                <div class="content__text__top">
                    <div class="content__text__top--01">
                        <img src="../asset/image/mephoto.jpg" alt="">
                    </div>

                    <div class="content__text__top--02">
                        <p>こんにちは、<strong>伊藤宏恵</strong>です。</p>
                        <p>
                            デザインもしたいしコードも書きたい。<br>
                            見た目の部分に注力して、UI/UX性を高めたWEBサイトで社会貢献していきたい。<br>
                            そんなエンジニアを目指して独学にて学習中です。
                        </p>
                        <p>
                            Qiita記事の執筆や参加したエンジニア向けイベントの内容共有、イベントの主催、共同開発など、<strong>ひとりではなく、みんなで一緒に高めあっていきたい</strong>という思いでさまざまに行動しています。
                        </p>
                    </div>
                </div>

                <h2 class="h2__title">現在求職活動中</h2>

                <p>
                    【希望職種】<br>
                    WEB制作、またはWEBデザイナー<br>
                    （デザインを中心に貴社ファンを増やしたいと考えています）</p>
                <p>
                    【希望勤務地】<br>
                    東海地方または関西地方
                </p>
                <p>
                    下記に該当する人材をお探しの企業様とは、特にマッチすると思います。
                </p>
                <ul class="list">
                    <li>エンジニア業務だけでなく、行動力と企画力のある人材を求めている企業様</li>
                    <li>業務未経験かつ30代でもポテンシャルがあり、コミュニケーション力のある人材を求めている企業様</li>
                    <li>周囲の人も含めた逆算スケジュールで行動できる人材を求めている企業様</li>
                </ul>
            </div>
        </section>

        <section id="point">
            <div class="point">
                <span>●　　●　　●　　●　　●</span><br>
                今までと、これからと。<br>
                エンジニアとして今、わたしにできること。<br>
                <span>●　　●　　●　　●　　●</span>
            </div>
        </section>

        <section id="work">
            <div class="content__text">
                <h2 class="h2__title">制作実績</h2>
                <div class="content__text__items">
                    <div class="content__text__items--inner">
                        <a href="/project/portfolio.html" class="workItem">
                        <img src="../asset/image/portfolio.png" alt=""><br>
                        ポートフォリオ
                        </a>
                    </div>
                    <div class="content__text__items--inner">
                        <a href="/project/r007.html" class="workItem">
                        <img src="../asset/image/r007.png" alt=""><br>
                        共同開発制作物
                        </a>
                    </div>
                </div>
                <p>
                    このほか、<a href="https://blog.ykllog.com/" target="_blank">学習記録ブログ</a>、および<a href="https://cocoda.design/ykllog" target="_blank">cocoda</a>に多数、制作物を掲載しております。
                </p>
            </div>
        </section>

        <section id="skill">
            <div class="content__text">
                <h2 class="h2__title">所有スキル</h2>

                <p>
                    【評価基準】<br>
                    <i class="fas fa-star"></i>１知識がある、<i class="fas fa-star"></i>２経験がある、<i class="fas fa-star"></i>３調べながらできる、<i class="fas fa-star"></i>４独力でできる、<i class="fas fa-star"></i>５指導ができる
                </p>

                <div class="content__text--items">

                    <p>
                        HTML5/CSS3<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></i><i class="far fa-star"></i><br>
                        <small><a href="/project/r007.html">共同開発</a>を行った際、他のメンバーに記述ルールについて教える中で理解が深まりました。</small>
                    </p>

                    <p>
                        Sass(Scss)<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small>変数の利用が非常に楽しいです。反面ソースが煩雑になるので、誰にとっても見やすいコードの書き方を模索中。</small>
                    </p>

                    <p>
                        WordPress<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small><a href="https://blog.ykllog.com" target="_blank">学習記録ブログ</a>に使用するWordPress用に自作テーマを作成しました。また、既存テーマのカスタマイズにも挑戦しています。</small>
                    </p>

                    <p>
                        JavaScript<br>
                        <i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small>今後、手を伸ばしていきたい言語です。学習記録ブログで、<a href="https://blog.ykllog.com/archives/18" target="_blank">JavaScriptを使用した名前変換小説</a>も公開しています。</small>
                    </p>

                    <p>
                        jQuery<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small>JavaScriptへの理解と並行して、わたしのものにしていきたいと考えています。特にハンバーガーメニュー！</small>
                    </p>

                    <p>
                        Git/GitHub<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star-half-alt"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small><a href="/project/r007.html">共同開発</a>でエラーに直面しながら、特にGitHub Flow（共通ルール）の理解と大切さを学びました。</small>
                    </p>

                    <p>
                        Photoshop<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small>オブジェクトを重ねる加工利用の方が多いです。そのため、明度の調整など画像そのものの加工に挑戦中。</a></small>
                    </p>

                    <p>
                        illustrator<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small>毎回画像のパス化に手間取っていますが、フォントをいじるのが楽しいです。</small>
                    </p>

                    <p>
                        XD<br>
                        <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><br>
                        <small>ワイヤーフレームの作成に利用中。ホバーアクションをスムーズにつけられるようになるのが今の目標。</small>
                    </p>

                </div>

            </div>
        </section>

        <section id="other">
            <div class="content__text">
                <h2 class="h2__title">その他</h2>
                <div class="content__text__other">
                    <div class="content__text__other--items">
                        <p>その他、周囲を巻き込んで精力的に活動しています。</p>
                        <p><img src="../asset/image/event1.jpg" alt=""><br>2020年9月、名古屋でオフラインイベントを主催しました。<br>もくもく会には12名、その後の飲み会には13名ご参加いただけました。</p>
                        <p><img src="../asset/image/event2.jpg" alt=""><br>2020年10月、入退室自由のオンラインイベントを主催しました。<br>この時、最大23名の方にご参加いただけました。</p>
                        <p><img src="../asset/image/LT.jpg" alt=""><br>2020年11月、参加したオフラインイベントにて、「デザインとマーケティングと薬屋のひとりごと」というテーマでLT登壇しました。</p>
                        <p><img src="../asset/image/qiita.jpg" alt=""><br>2020年10月、Qiita記事を執筆しました。<a href="https://qiita.com/ykllog/items/157c050fb9c3e9891159" target="_blank">記事はこちら</a></p>
                    </div>
                    <div class="content__text__other--twitterTL">
                        <p>Twitterで、毎日学習報告と学んだことをツイートしています。</p>
                        <a class="twitter-timeline" data-width="100%" data-height="50vh" href="https://twitter.com/ykllog?ref_src=twsrc%5Etfw">Tweets by ykllog</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
        </section>

        <section id="point">
            <div class="point">
                <span>●　　●　　●　　●　　●</span><br>
                ありがとう<br>
                その一言に<strong>こころ</strong>がじんわり温まります<br>
                <span>●　　●　　●　　●　　●</span>
            </div>
        </section>

    </main>
    
    <%- include('./_includes/_footer.ejs') %>
    
</body>
</html>