/* ==================================
レイアウト
===================================== */
.fv {
    width: 100%;
    height: 30vh;
    margin: 80px 0;
    background: url(../../asset/image/fv.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    @include tab-layout {
        height: 50vh;
    }
    @include pc-layout {
        height: 70vh;
    }
}

.l-content-wrap {
    max-width: 100%;
    padding-right: 5% !important;
    padding-left: 5% !important;
    box-sizing: border-box !important;
    @include tab-layout() {
        max-width: 100%;
        padding-right: 3% !important;
        padding-left: 3% !important;
        box-sizing: border-box !important;
    }
    @include pc-layout {
    // max-width: calc(1024px - 4.8%);
    max-width: 1024px;
    margin: 0 auto;
    box-sizing: content-box !important;
    padding-right: 2.4% !important;
    padding-left: 2.4% !important;
    }
}